doctype html
html
	head
		link(href='main.css',rel='stylesheet')
	body
		header
			h1 PossiblyBurgers		
		div(id='content')
			block content
		div(id='image' class='1')
		div(id='image' class='2')
		div(id='image' class='3') 
		div(id='image' class='4')
		div(id='image' class='5')
			block image
		footer