doctype html
html
	head
		link(href='main.css',rel='stylesheet')
		link(href='look.css',rel='stylesheet')
	body
		header
			h1 PossiblyBurgers
            nav
                ul
                    each item in config.menu
                        li
                            a(href=item[1]) #{item[0]}
        div(id='content')
            block content
        div(id='image')
            block image
        footer