html{
    background-color: #417378;
    
}
body{
    background-color: #F4F7D9;
    color: #3E423A;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
}
a:link
{
    color:#417378;
}
a:visited
{
    color:#6C6E58;
}
