
#map {
        height: 400px;
        width: 100%;
       }
#imageBox img{
 	min-height: 50px;
	min-width: 50px;
	max-height: 50px;
	max-width: 50px;
}
#image{
	float: left;
}
#imageBox{
	float:right;
 	min-height: 50px;
	min-width: 50px;
	max-height: 50px;
	max-width: 50px;
	padding: 20px;
}
#imageBox h1{
	visibility: hidden
}

#imageBox:hover{
	background-color: purple;
	visibility: visible
} 