html{
    background-color: #a3c00f;
    
}
#map {
        height: 400px;
        width: 100%;
       }
body{
    background-color: #593001;
    color: yellow;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
}
#image:hover{
	background-color: purple;
} 
#image img{
	float:right;
 	min-height: 50px;
	min-width: 50px;
	max-height: 50px;
	max-width: 50px;
}
#image{
	padding:20px;
	float: right;
	
}